body {
    background-color: rgb(20, 20, 20);
    max-width: 1440px;
    padding: 20px 20px;
    margin: 0 auto;
}
hr {
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}
.filmcard {
    padding: 20px 30px;
    border: 1px solid gray;
    border-radius: 20px;
    color: whitesmoke;
    width: 260px;
    height: 500px;
}
.ratingfilms {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.filmcardtitle {
    font-size: 24px;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 40px;
    margin-top: 10px;
}
.johnnycardtitle {
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
}
.bovtitle{
    font-size: 22px;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
}
.shineetitle{
    font-size: 24px;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
}
.toptitle {
    font-size: 28px;
    margin-bottom: 40px;
    color: whitesmoke;
    text-align: center;
}
.imagefilmdiv {
    width: 200px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.maintitle {
    font-size: 64px;
    text-align: center;
    color: white;
}
.headertitle {
    font-size: 48px;
    text-align: center;
    color: antiquewhite;
}
.songsul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.playlist{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkstyle {
    text-decoration: none;
    font-size: 24px;
    color: blueviolet;
    margin: 0;
}
.linkstyle:hover,
.linkstyleL:focus {
    color:rgb(227, 150, 226);
}
.linkname {
    font-size: 20px;
    text-align: center;
}
.albumslist {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
}
.footerlist{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
}
.catsimgdiv {
    width: 360px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.aboutmelist {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.aboutcats {
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 20px;
}
.catspar {
    color: white;
    font-size: 20px;
    text-align: center;
}
.aboutmetitle {
    font-size: 24px;
    color: white;
    text-align: center;
}
.sitesol {
    color: blueviolet;
    font-size: 16px;
}
.hblist {
    list-style: none;
}
.hbtitle{
    font-size: 24px;
    color: whitesmoke;
}
.hbmaintitle {
    font-size: 64px;
    color: white;
}
.hbtoptitle {
    font-size: 28px;
    margin-bottom: 40px;
    color: whitesmoke;
}