body {
    background-color: rgb(20, 20, 20);
}
hr {
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}
.filmcard {
    padding: 20px 30px;
    border: 1px solid gray;
    border-radius: 20px;
    color: whitesmoke;
    width: 300px;
    height: 620px;
}
.ratingfilms {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.filmcardtitle {
    font-size: 32px;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 40px;
}
.Johnnycardtitle {
    font-size: 28px;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 40px;
}
.toptitle {
    font-size: 28px;
    margin-bottom: 40px;
    color: whitesmoke;
    text-align: center;
}
.imagefilmdiv {
    width: 240px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.maintitle {
    font-size: 64px;
    text-align: center;
    color: white;
}
.headertitle {
    font-size: 48px;
    text-align: center;
    color: antiquewhite;
}
.songsul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.playlist{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkstyle {
    text-decoration: none;
    color: blueviolet;
}
.linkname {
    font-size: 20px;
    text-align: center;
}